.file-upload-progress-bar {
  table {
    background-color: #f5f5f5;
    tbody {
      tr {
        td {
          border-left: none;
          border-right: none;
          border-bottom: none;
          &.progress-bar {
            vertical-align: middle;
          }
          &.progress-value {
            min-width: 80px;
            width: 50px;
            vertical-align: middle;
            text-align: center;
          }
          &.controls {
            width: 94px;
            .buttons {
              &:last-child {
                margin-bottom: 0px;
              }
              .button {
                margin-bottom: 0px;
              }
            }
          }
        }
      }
    }
  }
}
