@charset "utf-8";
@import "util/reset";
@import "util/normalize";

// Set your brand colors
$purple: #79589F;

// Update Bulma's global variables
$primary: $purple;
$link: $purple;

@import "../../node_modules/bulma/bulma.sass";

@import "elements/navbar";
@import "elements/load";
@import "elements/main";
@import "elements/csv";
@import "elements/file-upload-progress-bar";
@import "elements/delete-modal";
@import "elements/menu";
@import "elements/navbar-sso";
@import "elements/transient";

@import "main";
